PORT=5000
MONGO_URI=mongodb://admin:admin@localhost:27017/uninder?authSource=admin

JWT_SECRET=uninder

NODE_ENV=development
CLIENT_URL=http://localhost:5173

STORAGE_PROVIDER=imagekit

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ImageKit
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
